<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple card</title>
    <link rel="stylesheet" href="mystyle.css">
</head>
<body>
    <h1>A simple Card</h1>
    <div id="card">
        <div id="head">
            Welcome to the webApp
        </div>
        <div id="button">
            <button name="click here" onclick="showMessage()">
                Click here
            </button>

            <div id="message">

            </div>

        </div>
    </div>
    
</body>
    <script>
        function showMessage(){
            document.getElementById("message").innerText="Welcome to the web app"
        }
    </script>
      
</html>